@font-face {
  font-family: Sansation;
  /* Имя шрифта */
  src: url(/css/fonts/Sansation_Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Myriad Pro;
  /* Имя шрифта */
  src: url(/css/fonts/Myriad\ Pro.otf);
}
@font-face {
  font-family: NEOTERIC;
  /* Имя шрифта */
  src: url(/css/fonts/NEOTERIC.ttf);
}
@font-face {
  font-family: HelveticaL;
  /* Имя шрифта */
  src: url(/css/fonts/HelveticaLTStd-Cond.ttf);
}
:root {
  font-size: 10px;
}
.btn_white {
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 1rem 2.6rem;
  color: #f7f7f7;
  font-family: NEOTERIC;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 20.11px;
  text-transform: uppercase;
}
.btn_white:focus {
  outline: none;
}
.btn_white:active {
  background-color: #b3b3b3;
}
.btn_blue {
  color: #f7f7f7;
  font-family: NEOTERIC;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #05a0af;
  padding: 1rem 4rem;
  border: none;
}
.btn_blue:focus {
  outline: none;
}
.btn_blue:active {
  background-color: #048996;
}
.btn_grey {
  color: #f7f7f7;
  font-family: Sansation;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #959595;
  padding: 0.5rem 2rem;
  border: none;
}
.btn_grey:focus {
  outline: none;
}
.btn_grey:active {
  background-color: #888888;
}
.colortext {
  color: #da2346;
}
.main {
  background: url(/img/fon.png) center no-repeat;
  background-size: cover;
  /*&:before { 
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        }*/
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.main-header-logo {
  flex: 1;
  margin-top: 2.2rem;
  margin-left: 3rem;
}
.main-header-logo p {
  color: #ffffff;
  font-family: Sansation;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.main-header-text {
  flex: 18;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 7.1rem;
}
.main-header-text a {
  margin-right: 8rem;
  color: #ffffff;
  font-family: Sansation;
  font-size: 2rem;
  line-height: 2.6rem;
}
.main-header-text a:hover {
  text-decoration: none;
  color: #097e89;
}
.main-header-social {
  flex: 2;
  text-align: end;
  margin-right: 4.3rem;
}
.main-header-social i {
  font-size: 2rem;
  color: black;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-content-text {
  flex: 2;
  order: 2;
  text-align: center;
  margin-top: 17.4rem;
}
.main-content-text p {
  margin-top: 2.8rem;
  opacity: 0.7;
  color: #ffffff;
  font-family: Sansation;
  font-size: 1.3rem;
  line-height: 1.818rem;
}
.main-content-text h1 {
  color: #ffffff;
  font-family: Sansation;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 3.896rem;
  text-transform: uppercase;
}
.main-content-text button {
  margin-top: 4.2rem;
  margin-bottom: 9.2rem;
}
.main-content-arrow-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  order: 1;
}
.main-content-arrow-2 {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 3;
  text-align: end;
}
.about {
  display: flex;
  justify-content: space-around;
}
.about-img {
  flex: 1;
}
.about-text {
  display: flex;
  flex-direction: column;
  margin-top: 5.3rem;
  margin-left: 4.3rem;
  flex: 2;
  color: #252525;
}
.about-text h1 {
  color: #252525;
  font-family: Sansation;
  font-size: 3.6rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.about-text p {
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 1.6rem;
  line-height: rem;
}
.about-text hr {
  margin-left: 0;
  background-color: #000;
  width: 35%;
}
.about-text-btn button {
  margin-top: 0.3rem;
}
.our {
  background-color: #373737;
}
.our-h1 {
  display: flex;
  justify-content: center;
}
.our-h1 h1 {
  padding: 5.5rem 0;
  color: #f7f7f7;
  font-family: Sansation;
  font-size: 4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}
.web-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
.web-content p {
  color: #f7f7f7;
  font-family: Sansation;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.web-content h2 {
  margin-top: 2rem;
  color: #f7f7f7;
  font-family: Sansation;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}
.web-content-1 {
  flex: 1;
  background-color: #3d3d3d;
}
.web-content-1 img {
  margin-top: 10rem;
}
.web-content-1:hover {
  background-color: #4a4a4a;
}
.web-content-2 {
  flex: 1;
  background-color: #097e89;
}
.web-content-2 img {
  margin-top: 10rem;
}
.web-content-2:hover {
  background-color: #0b94a1;
}
.web-content-3 {
  flex: 1;
  background-color: #3d3d3d;
}
.web-content-3 img {
  margin-top: 10rem;
}
.web-content-3:hover {
  background-color: #4a4a4a;
}
.web-content button {
  margin-bottom: 10rem;
}
.feedback {
  background-color: #373737;
}
.feedback-h1 {
  display: flex;
  justify-content: center;
}
.feedback-h1 h1 {
  padding: 5.5rem 0;
  flex: 100;
  text-align: center;
  color: #f7f7f7;
  font-family: Sansation;
  font-size: 4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}
.fcontent {
  background-color: #3d3d3d;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.fcontent-one {
  text-align: center;
  margin-top: 6.8rem;
  margin-right: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fcontent-one hr {
  background-color: #fff;
  width: 20%;
}
.fcontent-one-text {
  color: #cdc8c8;
  font-family: Sansation;
  font-size: 1.8rem;
  line-height: 2.6rem;
  flex: 1;
}
.fcontent-one-pages {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.fcontent-one-pages-1 {
  flex: 1;
}
.fcontent-one-pages-2 {
  color: #cdc8c8;
  font-family: Sansation;
  font-size: 1.4rem;
  line-height: 2.6rem;
  flex: 1;
}
.fcontent-one-pages-3 {
  flex: 1;
}
.fcontent-two {
  margin-top: 3rem;
  flex: 2;
  display: flex;
  justify-content: space-between;
}
.fcontent-two img:hover {
  border: 1px solid gold;
}
.fcontent-two-img1 {
  flex: 1;
}
.fcontent-two-img2 {
  flex: 1;
}
.fcontent-two-img3 {
  flex: 1;
}
.clients {
  margin-top: 2.1rem;
  background-color: #fefefe;
}
.clients-text {
  text-align: center;
}
.clients-text h1 {
  padding: 5.5rem 0;
  color: #656464;
  font-family: Sansation;
  font-size: 4rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}
.brands {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.brands-1 {
  flex: 1;
  display: flex;
}
.brands-1-1 {
  flex: 1;
}
.brands-1-2 {
  flex: 1;
}
.brands-1-3 {
  flex: 1;
}
.brands-1-4 {
  flex: 1;
}
.brands-2 {
  flex: 1;
  display: flex;
}
.brands-2-1 {
  margin-top: 9.9rem;
  flex: 1;
}
.brands-2-2 {
  margin-top: 11.1rem;
  flex: 1;
}
.brands-2-3 {
  margin-top: 7.9rem;
  flex: 1;
}
.brands-2-4 {
  margin-top: 8.3rem;
  flex: 1;
}
.queries {
  background-color: #097e89;
  display: flex;
}
.queries-oneblock {
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: left;
  flex: 3;
}
.queries-oneblock h2 {
  margin-top: 2.6rem;
  text-align: left;
  color: #ffffff;
  font-family: Sansation;
  font-size: 3rem;
  line-height: 2.7rem;
}
.queries-oneblock p {
  margin-top: 2.6rem;
  margin-bottom: 5.7rem;
  opacity: 0.7;
  color: #ffffff;
  font-family: Sansation;
  font-size: 1.2rem;
  line-height: 2rem;
}
.queries-secondblock {
  flex: 4;
  margin-bottom: 5rem;
}
.queries-secondblock-form {
  margin-top: 7rem;
  margin-left: 10rem;
  display: flex;
}
.queries-secondblock-form input {
  padding: 1rem 2.3rem;
  border: 1px solid #99f0f8;
  background-color: #097e89;
  color: #f8feff;
  font-family: Sansation;
}
.queries-secondblock-form input:focus {
  outline: none;
}
.queries-secondblock-form ::placeholder {
  opacity: 0.7;
  color: #ffffff;
  font-family: Sansation;
  font-size: 1rem;
  line-height: 2.2rem;
}
.queries-secondblock-form-1 input {
  border-right: none;
}
.queries-secondblock-form-3 input {
  padding: 0.75rem 2.3rem;
  border: none;
  background-color: #fff;
  color: #097e89;
  font-family: "Myriad Pro";
  line-height: 2.2rem;
  font-size: 1.6rem;
}
.queries-secondblock-form-3 input:focus {
  outline: none;
}
.queries-secondblock-form-3 input:active {
  background-color: #f2f2f2;
}
.contacts {
  display: flex;
  background-color: #474747;
}
.contacts-block {
  display: flex;
  margin-top: 3.1rem;
  margin-left: 3.1rem;
}
.contacts-block hr {
  background-color: #fff;
  width: 10rem;
  margin-right: 7rem;
}
.contacts-block a {
  color: #ffffff;
  font-family: "Sansation";
  font-size: 1.6rem;
  line-height: 3.1rem;
  text-decoration: none;
}
.contacts-block a:hover {
  text-decoration: none;
  color: #097e89;
}
.contacts-block h3 {
  color: #e5e5e5;
  font-family: "Sansation";
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.contacts-block-product {
  margin-right: 4rem;
}
.contacts-block-product hr {
  background-color: #fff;
  width: 10rem;
  margin-right: 7rem;
}
.contacts-block-learn {
  margin-right: 4rem;
}
.contacts-two {
  margin-top: 4.2rem;
  flex: 3;
}
.contacts-two-block {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.contacts-two-block-1 input {
  padding: 1rem 2.3rem;
  border: none;
  background-color: #cccccc;
  color: #4f4e4e;
  font-family: HelveticaL;
}
.contacts-two-block-1 input:focus {
  outline: none;
}
.contacts-two-block-2 {
  display: flex;
  flex-direction: column;
}
.contacts-two-block-2 input {
  padding: 1rem 2.3rem;
  border: none;
  background-color: #0072bc;
  color: #fff;
  font-family: HelveticaL;
}
.contacts-two-block-2 input:focus {
  outline: none;
}
.contacts-two-social {
  text-align: center;
}
